.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 400px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-button {
  font-size: 16px;
  background-color: #61dafb;
  color: #000000;
  padding: 10px 25px;
  white-space: nowrap;
  border: none;
  border-radius: 5px;
}

.App-input {
  border: none;
  display: block;
  margin: 10px auto;
  height: 30px;
  border-radius: 5px;
  padding-left: 20px;
  font-size: 13px;
  width: 120px;
}

.App-form {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 200px;
}

.App-testInput {
  height: 30px;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
  font-size: 13px;
}

.App-inputFile {
  display: block;
  margin: 10px auto;
  width: 200px;
  font-size: 16px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
